@model OMS_Dev.Areas.Admin.Models.ProductEditViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="card my-4">
    <div class="card-header">
        <i class="fa fa-edit"></i> Edit @Html.DisplayFor(x => x.Name)
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { @class = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.Id)

            <div class="form-row">
                <div class="form-group col">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control text-black", placeholder = "Name of your product" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col">
                    @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label m-auto" })
                    @Html.DropDownList("Active", new SelectList(new[] { new { Value = true, Text = "Yes" }, new { Value = false, Text = "No" }, }, "Value", "Text", Model), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control text-black", rows = "3", placeholder = "Description of your product" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StatementDescriptor, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.StatementDescriptor, new { @class = "form-control text-black", placeholder = "Explains the charges or payments on bank statements" })
                @Html.ValidationMessageFor(model => model.StatementDescriptor, "", new { @class = "text-danger" })
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
    <div class="card-footer">
        <div class="row m-auto">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-dark" })
        </div>
    </div>
</div>